spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:~/tyfH2Db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
#    url: jdbc:mysql://localhost:13306/flywaytest?serverTimezone=UTC&characterEncoding=UTF-8
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  flyway:
    baseline-version: 0
    baseline-on-migrate: true

  jpa:
    properties:
      hibernate:
        format_sql: true
#    generate-ddl: true
#    hibernate:
#      ddl-auto: none

  redis:
    host: localhost
    port: 6379

  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  profiles:
    include: oauth2, aws

logging:
  config: classpath:logback-spring.xml
  slack:
    webhook-uri: https://hooks.slack.com/services/token

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace

jwt:
  secreteKey: ABCDEFG
  expire-length: 600000

iamport:
  rest_api_key: apiKey
  rest_api_secret: apiSecret

admin:
  id: test-id
  password: test-password

aes:
  secret:
    tyftesttyftesttyftesttyftesttyft