<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%n###### HTTP Request ######%n%fullRequest%n###### HTTP Response ######%n%fullResponse%n%n</pattern>
        </encoder>
    </appender>

    <springProfile name="prod">
        <include resouces="appender/access-file-appender.xml"/>
    </springProfile>

    <springProfile name="dev">
        <appender-ref ref="CONSOLE" />
    </springProfile>
</configuration>