<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook-uri"/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- CONSOLE appender 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS} %t ${PID:-}){faint} %clr([%-5p]) %clr([%-40.40logger{35}]){cyan} %clr(:){faint} %m%n</Pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name ="prod">
        <root level="INFO">
            <include resource ="appender/file-appender.xml"/>
            <include resource ="appender/access-file-appender.xml"/>
            <include resource ="appender/slack-async-error-appender.xml"/>

            <appender-ref ref="FILE"/>
            <appender-ref ref="ASYNC_SLACK_ERROR"/>
        </root>
    </springProfile>

    <springProfile name = "dev">
        <root level="TRACE">
            <include resource ="appender/file-appender.xml"/>
            <include resource ="appender/access-file-appender.xml"/>
            <include resource ="appender/slack-async-info-appender.xml"/>

            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ASYNC_SLACK_INFO"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <appender-ref ref="CONSOLE"/>
    </springProfile>
</configuration>