<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you for ___ 도네이션 결제 내역</title>
</head>
<body style="margin: 0; padding: 0">
<table
        align="center"
        cellpadding="0"
        cellspacing="0"
        style="
        border-collapse: collapse;
        width: 100%;
        margin: 0;
        padding: 0;
        color: #333333;
      "
>
    <tr>
        <td align="center" style="padding: 120px 0 120px 0">
            <a href="https://thankyou-for.com">
                <img
                        class="logo"
                        src='cid:tyf-logo'
                        width="400"
                        height="72"
                        alt="thank you for 로고"
                />
            </a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <h1 class="title"><span th:text="${head}"></span></h1>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 60px 0 240px 0">
            <h3 class="title"><span th:text="${body}"></span></h3>
        </td>
    </tr>
    <tr>
        <td>
            <table
                    bgcolor="#fafafa"
                    width="100%"
                    style="width: 100%; padding-left: 20px"
            >
                <tr>
                    <td>
                        <p>Thank You For ___</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            땡큐포 | 대표이사 전환오 | 사업자번호 775-18-01530 |
                            통신판매번호 2021-서울관악-1897 | 서울시 관악구 행운4길 9, 302
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            [고객센터] 전화번호 070 - 8098 - 2158 | 이메일
                            <a href="mailto://thank.you.for.tyf@gmail.com">
                                thank.you.for.tyf@gmail.com</a
                            >
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>© Thank You For ___ all rights reserved</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
